In [2]:
import pandas as pd

In [3]:
penguins = pd.read_csv("penguins.csv")

In [8]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.10,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.50,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.30,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,44.45,17.3,197.0,4050.0,Male
4,Adelie,Torgersen,36.70,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,44.45,17.3,197.0,4050.0,Male
340,Gentoo,Biscoe,46.80,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.40,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.20,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.90,16.1,213.0,5400.0,Male

In [4]:
df =  penguins.copy()
target = 'species'
encode = ['sex','island']
for col in encode:
    dummy = pd.get_dummies(df[col] , prefix = col)
    df = pd.concat([df,dummy] , axis = 1)
    del df[col]


target_mapper = {'Adelie': 0,'Chinstrap':1,'Gentoo':2}
def target_encode(val):
    return target_mapper[val]

df['species'] = df['species'].apply(target_encode)

X = df.drop('species' , axis = 1)
Y = df['species']

In [5]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X,Y)

RandomForestClassifier()

In [7]:
import pickle
pickle.dump(clf,open('penguins.pkl','wb'))